:root {
    --white: #F2EFEA;
    --black: #38302E;
    --red: #EC2526;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    background-color: var(--white);
    padding: 2rem;
  }

  #root {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  svg {
    cursor: pointer;
    fill: var(--red);
  }
  
  /* https://css-tricks.com/snippets/css/scale-on-hover-with-webkit-transition/ */
  svg .hover {
    display: none;
  }
  
  svg:hover .hover {
    display: block;
  }
  
  /* https://loading.io/css/ */
  .grow { transition: all .02s ease-in-out; }
  .grow:hover { transform: scale(1.4); }
  .grow:active { transform: scale(2.5); }
  
  .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }

.t-normal {
    background-color: #aa9;
}

.t-fire {
    background-color: #f42;
}

.t-water {
  background-color: #39f;
}

.t-electric {
  background-color: #fc3;
}

.t-grass {
  background-color: #7c5;
}

.t-ice {
  background-color: #6cf;
}

.t-fighting {
  background-color: #b54;
}

.t-poison {
  background-color: #a59;
}

.t-ground {
  background-color: #db5;
}

.t-flying {
  background-color: #89f;
}

.t-psychic {
  background-color: #f59;
}

.t-bug {
  background-color: #ab2;
}

.t-rock {
  background-color: #ba6;
}

.t-ghost {
  background-color: #66b;
}

.t-dragon {
  background-color: #76e;
}

.t-dark {
  background-color: #754;
}

.t-steel {
  background-color: #aab;
}

.t-fairy {
  background-color: #e9e;
}